.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  font-size: 50px;
  align-self: center;
}
.home-navlink {
  display: contents;
}
.home-image {
  width: auto;
  height: var(--dl-size-size-xsmall);
  object-fit: cover;
  text-decoration: none;
}
.home-container1 {
  height: 344px;
}
.home-container2 {
  display: contents;
}
.home-navlink1 {
  display: contents;
}
.home-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  text-decoration: none;
}
