.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  font-size: 50px;
  align-self: center;
}
.home-container1 {
  width: 80%;
  height: 344px;
}
.home-container2 {
  display: contents;
}
.home-navlink {
  display: contents;
}
.home-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  text-decoration: none;
}
.home-container4 {
  width: 808px;
  align-self: center;
}
.home-container5 {
  display: contents;
}
@media(max-width: 991px) {
  .home-container1 {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .home-text {
    align-self: center;
    text-align: center;
  }
  .home-container1 {
    width: 80%;
  }
  .home-container4 {
    width: 474px;
    height: 262px;
    margin-right: 0px;
    padding-right: 0px;
  }
}
